body {
   background-color: #8ae781;
   color: #F8F9F9;
   font-size: 1.2em;
   font-family: Tahoma, Verdana, sans-serif;
}

input {
   font-size: 1.2em;
}

label {
   display: inline-block;
   width: 30rem;
   border-radius: 6px;
   padding-left: 6px;
   margin-bottom: 0.1em;
}

input[type="checkbox"]:checked+label {
   background-color: #49acac;
   color: #d36c61;
}